

#submitButton{
    background-color: rgb(0, 64, 0);
    font-size: 1.5em;
    color: white;
}

#submitdiv{
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

#formContainer{
    width: 80%;
    margin: 0 auto;
}

p{text-align: center; font-size: 2em;}

 
 /* Modal Content - hacked from w3schools example */
.modal-header {
  padding: 2px 16px;
  background-color: red;
  color: black;
}

.modal-body { padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: red;
  color: black;
}

.modal-content {
  position: relative;
  background-color: lightgray;
  margin: auto;
  margin-top: -100px;
  padding: 0;
  border: 1px solid black;
  width: 80%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 